@use './partials/variables.scss' as *;
@use './partials/template.scss' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// shadow-morphing
.my-shadow{
  border-radius: 44px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  27px 27px 49px #aaaaaa,
              -27px -27px 49px #ffffff;
}
.box-image-circle{
  overflow: hidden;
  border-radius: 50%;
  width: 300px;
  padding: 20px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
body{
  background-color:black;
  font-family: 'Kanit', sans-serif;
}
.page-bg{
  background-image: url('../images/back2.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-blur{
  backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.521) !important;
}
//bottone

.bottone {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .bottone-vuoto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: rgb(4, 146, 247);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .bottone-vuoto:hover {
  color: #e8e8e8;
 }
 
 .bottone-vuoto:hover::before {
  width: 100%;
 }

 .bottone-pieno{
  color: white;
  background-color: rgb(8, 200, 8);
 }


.bottone-avversario{
  color: white;
  background-color: orange;
}

.box-image {
  overflow: hidden;
  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.cp{
  cursor: pointer;
}

#pop-up {
  z-index: 1000;
}



.z-ind-high{
  z-index: 9999;
}






.btn-next-prev {
    position: relative;
    margin: 0;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  .btn-next-prev:hover {
    animation: sh0 0.5s ease-in-out both;
  }
  
  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  .btn-next-prev:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  .btn-next-prev::before,
  .btn-next-prev::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  
  .btn-next-prev:hover::before,
  .btn-next-prev:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  .btn-next-prev:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  
  .btn-next-prev:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }
  

  .btn-arena{
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 9px;
    background: linear-gradient(300deg,darkviolet,#b30000,#a78300);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      box-shadow: 7px 5px 56px -14px #C3D900;
    }
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  //button animation shake

  .shake {
    animation: shake3856 0.3s linear infinite both;
   }

  @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }